@CHARSET "ISO-8859-1";

body {
	background-image: url('cars.jpg');
}

form {
	font-family:verdana, helvetica, sans-serif;
	font-size: 17px;
	color: #330099;
}

table {
	background-color: cyan;
}

#buttn {
	font-family:verdana, helvetica, sans-serif;
	font-size: 17px;
	color: #330099;	
}