@CHARSET "windows-1255";

#header-label {
    -fx-font-size: 20px;
    -fx-font-family: "Cambria";
    -fx-text-fill: black;
}

#pop-up-dialog-text {
    -fx-font-size: 19px;
    -fx-font-family: "Cambria";
    -fx-text-fill: black;
}

#dash-label {
    -fx-font-size: 17px;
    -fx-font-family: "Cambria";
    -fx-text-fill: black;
}

#event-label-big-size {
    -fx-font-size: 16px;
    -fx-font-family: "Cambria";
    -fx-text-fill: black;
}

#event-label-medium-size {
    -fx-font-size: 15px;
    -fx-font-family: "Cambria";
    -fx-text-fill: black;
}

#event-label-small-size {
    -fx-font-size: 13px;
    -fx-font-family: "Cambria";
    -fx-text-fill: black;
}

#pane {
    -fx-base: #33ffff;
}

#enterCar-btn {
    -fx-font-size: 19px;
    -fx-font-family: "Cambria"; 
    -fx-base: #ffcc00;
}

#dbInfo-btn {
    -fx-font-size: 19px;
    -fx-font-family: "Cambria"; 
    -fx-base: #ffff00;
}

#fillUpTank-btn {
    -fx-font-size: 19px;
    -fx-font-family: "Cambria"; 
    -fx-base: #99ff99;
}

#stats-btn {
    -fx-font-size: 19px;
    -fx-font-family: "Cambria"; 
    -fx-base: #3333ff;
}

#close-btn {
    -fx-font-size: 19px;
    -fx-font-family: "Cambria"; 
    -fx-base: #ee2211;
}

.vbox {
    -fx-background-color: #33ffff;
    -fx-padding: 15;
    -fx-spacing: 10;
}

.greenBtn {
    -fx-background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
    -fx-font-size: 19px;
    -fx-font-family: "Cambria";
}

.redBtn {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
    -fx-font-size: 19px;
    -fx-font-family: "Cambria";
}

.chkBox {
	-fx-font-weight: bold;
    -fx-font-size: 17px;
    -fx-font-family: "Cambria";
}

