@CHARSET "windows-1255";

#header-label {
    -fx-font-size: 20px;
    -fx-font-family: "Cambria";
    -fx-text-fill: black;
}

#pop-up-dialog-text {
    -fx-font-size: 19px;
    -fx-font-family: "Cambria";
    -fx-text-fill: black;
}

#dash-label {
    -fx-font-size: 17px;
    -fx-font-family: "Cambria";
    -fx-text-fill: black;
}

#event-label-big-size {
    -fx-font-size: 16px;
    -fx-font-family: "Cambria";
    -fx-text-fill: black;
}

#event-label-medium-size {
    -fx-font-size: 15px;
    -fx-font-family: "Cambria";
    -fx-text-fill: black;
}

#event-label-small-size {
    -fx-font-size: 13px;
    -fx-font-family: "Cambria";
    -fx-text-fill: black;
}

#pane {
    -fx-base: #33ffff;
}

#enterCar-btn {
    -fx-font-size: 19px;
    -fx-font-family: "Cambria"; 
    -fx-base: #ffcc00;
}

#dbInfo-btn {
    -fx-font-size: 19px;
    -fx-font-family: "Cambria"; 
    -fx-base: #ffff00;
}

#fillUpTank-btn {
    -fx-font-size: 19px;
    -fx-font-family: "Cambria"; 
    -fx-base: #99ff99;
}

#stats-btn {
    -fx-font-size: 19px;
    -fx-font-family: "Cambria"; 
    -fx-base: #3333ff;
}

#close-btn {
    -fx-font-size: 19px;
    -fx-font-family: "Cambria"; 
    -fx-base: #ee2211;
}

