@CHARSET "ISO-8859-1";

#myclass2 {
	font-family: verdana, helvetica, sans-serif;
	font-size: 16px;
	text-align: justify;
	background-image:url('blue_background.jpg');
}

#myclass1 {
	margin-left: 370px;
}

#wrap {
	width: 1200px;
}

#alignLeft {
	text-align: left;
	background-color: #33ccff;
}

div {
	float: left;
	width: 250px;
	height: 500px;
	margin-left: 50px;
	margin-top: 20px;
}

.green1 {
	background: #00ff99
}

.green2 {
	background: #00ffff
}

.proj_show {
	float: none;
	width: 800px;
	height: 730px;
	background: #00ffff
}

#monospace {
	font-family: "Times New Roman", serif;
	font-style:italic;
}