body {
	background-image:url('blue_background.jpg');
}

.proj_show_at_proposer {
	float: none;
	width: 800px;
	height: 1040px;
	background: #00ffff
}

.proj_show {
	float: none;
	width: 800px;
	height: 710px;
	background: #00ffff
}

.proj_edit {
	float: none;
	width: 800px;
	height: 360px;
	background: #33ff99
}

.table_color {
	background: #66ccff
}


.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus,
	.btn:active:focus, .btn:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px
}

.btn.focus, .btn:focus, .btn:hover {
	color: #333;
	text-decoration: none
}

.btn.active, .btn:active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
	pointer-events: none;
	cursor: not-allowed;
	filter: alpha(opacity = 65);
	-webkit-box-shadow: none;
	box-shadow: none;
	opacity: .65
}

.btn-default {
	color: #333;
	background-color: #fff;
	border-color: #ccc
}

.btn-default.active, .btn-default.focus, .btn-default:active,
	.btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default
	{
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad
}

.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default
	{
	background-image: none
}

.btn-default.disabled, .btn-default.disabled.active, .btn-default.disabled.focus,
	.btn-default.disabled:active, .btn-default.disabled:focus, .btn-default.disabled:hover,
	.btn-default[disabled], .btn-default[disabled].active, .btn-default[disabled].focus,
	.btn-default[disabled]:active, .btn-default[disabled]:focus,
	.btn-default[disabled]:hover, fieldset[disabled] .btn-default, fieldset[disabled] .btn-default.active,
	fieldset[disabled] .btn-default.focus, fieldset[disabled] .btn-default:active,
	fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:hover
	{
	background-color: #fff;
	border-color: #ccc
}

.btn-default .badge {
	color: #fff;
	background-color: #333
}

.btn-lg .caret {
	border-width: 5px 5px 0;
	border-bottom-width: 0
}


.btn-group-lg>.btn, .btn-lg {
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.3333333;
	border-radius: 6px
}

.btn-group>.btn-lg+.dropdown-toggle {
	padding-right: 12px;
	padding-left: 12px
}