@CHARSET "windows-1255";

#pane {
    -fx-base: #33ffff;
}

#choose-label {
    -fx-font-size: 20px;
    -fx-font-family: "Cambria";
    -fx-text-fill: black;
}

#pop-up-dialog-text {
    -fx-font-size: 19px;
    -fx-font-family: "Cambria";
    -fx-text-fill: black;
}

#just-btn {
    -fx-font-size: 19px;
    -fx-font-family: "Cambria"; 
    -fx-base: #33ccff
}
