body {
	background-image:url('backgr.jpg');
}

h2 {
    font-family: "Cambria";
    color: #330099;
}
th {
	font-family: "Cambria";
    color: #330099;
}

.DataBar {
	height: 17px;
	margin: 2px 8px 0 0;
	float: right;
}
.Blue {
	background-color: #4B87C3;
}
